# Python virtual environments (QUAN TRỌNG - thường nặng 900MB+)
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# Git
.git/
.gitignore

# Logs
*.log

# Node (nếu có)
node_modules/

# IDE
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
